<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400italic%7CAbril+Fatface:400&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="apple-touch-icon" type="image/ico" href="apple-touch-icon.png" />
  {%- feed_meta -%}
</head>
