<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main id="content" class="page-content" aria-label="Content">

        {{ content }}
      </div><!-- /wrapper -->
    </main>

    {%- include footer.html -%}
    <script>
    function openNav(){document.getElementById("sideNav").style.width = "240px";}
    function closeNav(){document.getElementById("sideNav").style.width = "0";}
    </script>
  </body>

</html>
